body {
    background-image: url('media/images/frontimg.png');
    background-size: cover;

}

.container {
    max-width: 960px;
}

/*
* Custom translucent site header
*/

.site-header {
    background-color: rgba(174, 97, 9, 0.577);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: rgb(41, 32, 32);
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: rgb(241, 235, 234);
    text-decoration: none;
}


/*
* Extra utilities
*/

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}