{% extends "base.html" %}
{% load static %}

<link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/product/">

<meta name="msapplication-config" content="/docs/4.6/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

{% block content %}
<h1 class="display-4 text-success">It works!</h1>

{% endblock %}